[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.paddlepaddle.org.cn/packages/stable/cpu/"
verify_ssl = true
name = "wwwpaddlepaddleorg"

[packages]
fastapi = "*"
uvicorn = "*"
uvloop = {version = "*", sys_platform = "!= 'win32'"}
httptools = {version = "*", sys_platform = "!= 'win32'"}
watchfiles = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
passlib = {extras = ["argon2"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
pydantic-settings = "*"
python-dotenv = "*"
python-multipart = "*"
loguru = "*"
paddleocr = "*"
paddlepaddle = { version = "==3.2.0", index = "wwwpaddlepaddleorg" }
pyrefly = "*"
paddlex = "*"
httpx = "*"
pymupdf = "*"
python-docx = "*"
pillow = "*"
dateparser = "*"
onnxruntime = "*"

[dev-packages]
pytest = "*"
ruff = "*"

[requires]
python_version = "3.12"
